# ansible.cfg
# Ref: https://docs.ansible.com/projects/ansible/latest/reference_appendices/config.html

[defaults]
# (pathlist) Comma-separated list of Ansible inventory sources
inventory = ./inventory.yaml

# (pathspec) Colon-separated paths in which Ansible will search for Roles.
roles_path = ./roles

[inventory]
# (string) This setting changes the behaviour of mismatched host patterns, it allows you to force a fatal error, a warning or just ignore it.
host_pattern_mismatch = error

# (boolean) If 'true', it is a fatal error when any given inventory source cannot be successfully parsed by any available inventory plugin; otherwise, this situation only attracts a warning.
any_unparsed_is_failed = True
