# /etc/seaweedfs/volume.conf

# Directories to store data files.
dir=/srv/seaweedfs

# Maximum numbers of volumes.
# If set to zero, the limit will be auto configured as free disk space divided by volume size.
max=0

# Min free disk space (value<=100 as percentage like 1, other as human readable bytes, like 10GiB).
# Low disk space will mark all volumes as ReadOnly.
minFreeSpace=0.10

# Comma-separated master servers.
mserver={{ hostvars['controller_one']['ansible_host'] }}:9333

# HTTP listen port.
port=8080

# -fileSizeLimitMB int
#    limit file size to avoid out of memory (default 256)
