[Unit]
Description=Filer server for SeaweedFS cluster
After=seaweedfs-master.service

[Service]
Type=simple
User=seaweedfs
Group=seaweedfs

ExecStart=weed filer -options=/etc/seaweedfs/filer.conf
Restart=no
WorkingDirectory=/srv/seaweedfs
SyslogIdentifier=seaweedfs-filer
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
